@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<style>
    :target {
        display: block;
        position: relative;
        top: -2em; 
        visibility: hidden;
    }
    

     .item-content {
         font-size: 1.2em;
         padding: 1em 1em;
         display: inline-block;
     }

    .item-text {
        text-align: justify;
        /*word-wrap: break-word;
        overflow-wrap: break-word;*/
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }

    .text-original { font-size: 1.3em; }

    .text-translation {
        font-size: 1.1em;
        color: gray;
    }
</style>

<h4>
    Content
</h4>

<div class="row">
    @foreach (var group0 in Model.TextGroups)
    {
        <a href="#@group0.Title" class="anchor item-content nav-link">[@group0.Title]</a>
    }
</div>

<h4 style="padding-top: 2em;">
    Chapters
</h4>

<div class="row">
    @foreach (var group in Model.TextGroups)
    {
        <div class="col-md-6">
            <div id="@group.Title"></div>
            <h2 style="display: inline-block;" >@group.Title</h2>
            <a href="#">[go to content]</a>


            @foreach (var item in group.Texts)
            {
                <div lang="ru-RU" class="item-text text-original">@item.Text</div>
                <div lang="en-US" class="item-text text-translation">@item.TextTranslation</div>
            }
        </div>
    }
</div>